body{
    padding-top: 40px;
}
.calculadora{
    width: 400px;
    background-color: #cccccc;
    border: 1px solid #666666;
}
.col, .col-3, .col-6 {
    padding: 3px;
}
.row {
    padding: 0 5px;
}
.row:last-of-type{
    padding-bottom: 5px;
}
h1{
    border: 1px solid #999999;
    margin-top: 5px;
    padding: 5px;
    font-size: 72px;
    font-weight: 300;
}